.button_type_add {
	height: 50px;
	width: 150px;
	background: url(../../../image/Add_Button.svg);
	
}


@media screen and (max-width: 614px) {
	.button_type_add {
		background: url(../../../image/Add_Button_big.svg);
		width: 282px;
	}
}