.button_type_close {
    position: absolute;
    top: -41px;
    right: -41px;
    background-color: rgba(0, 0, 0, 0);
    width: 52px;
    height: 52px;
    background-image: url(../../../image/Close_Icon.png);
    background-size: contain;
}

@media screen and (max-width: 520px) {
	.button_type_close{
       width: 25px;
       height: 25px;
       top: -20px;
       right: -20px;
	}
}