.button_type_like {
	transition: transform 0.5s ease-out;
	margin-top: 4px;
	height: 21px;
	width: 18px;
	background-image: url(../../../image/like_button.svg);
	background-color: #fff;
	background-position: center;
	-webkit-background-size: contain;
	background-size: contain;
	background-repeat: no-repeat;
}

.button_type_like:hover {
	cursor: pointer;
	transform: scale(1.1);
	
}

.button_type_like_active {
	background-image: url(../../../image/Vector_black.svg);
}